# PandasAI v3: Базовые примеры `.chat()`

Этот ноутбук покрывает разделы 1–5 документации PandasAI v3: от подключения библиотеки до разных типов ответов `.chat()`.

За продвинутыми сценариями смотрите ноутбуки `pandasai_v3_semantic_ops.ipynb` и `pandasai_v3_full_showcase.ipynb` в папке `examples/`.

## Установка и базовая настройка

In [2]:
import pandas as pd
import os
import pandasai as pai
from pandasai_litellm.litellm import LiteLLM
# Настройка API ключа (замените на ваш реальный ключ)
# В реальном проекте рекомендуется использовать переменные окружения
api_key = os.getenv("OPENAI_API_KEY", "your-api-key")
llm = LiteLLM(model="gpt-5-mini", api_key=api_key)
# Настройка конфигурации PandasAI через глобальный config
pai.config.set({
    "llm": llm,
    "save_logs": True,
    "max_retries": 3,
    "verbose": True#добавляем логирование в aoutput
})

## 5. Сгенерированный код и метаданные

In [3]:
# 2. Prepare DataFrame
sales_raw = pd.DataFrame([
    {"region": "EU", "channel": "Online", "revenue": 125000,
        "units": 420, "week": "2024-01-05"},
    {"region": "US", "channel": "Retail", "revenue": 174000,
        "units": 510, "week": "2024-01-05"},
    {"region": "APAC", "channel": "Online", "revenue": 98000,
        "units": 360, "week": "2024-01-12"},
])


# 3. Chat with the DataFrame
response = pai.chat("What is the total revenue?", sales_raw)

2025-11-23 20:18:14 [INFO] Question: What is the total revenue?
2025-11-23 20:18:15 [INFO] Running PandasAI with litellm LLM...
2025-11-23 20:18:15 [INFO] Prompt ID: 05aebe8e-1ab8-4c2b-a04e-c08c019356bc
2025-11-23 20:18:15 [INFO] Generating new code...
2025-11-23 20:18:15 [INFO] Using Prompt: <tables>

<table dialect="duckdb" table_name="table_89a420ed697eb44b9ddef41d85f66bac" columns="[{"name": "region", "type": "string", "description": null, "expression": null, "alias": null}, {"name": "channel", "type": "string", "description": null, "expression": null, "alias": null}, {"name": "revenue", "type": "integer", "description": null, "expression": null, "alias": null}, {"name": "units", "type": "integer", "description": null, "expression": null, "alias": null}, {"name": "week", "type": "string", "description": null, "expression": null, "alias": null}]" dimensions="3x5">
region,channel,revenue,units,week
EU,Online,125000,420,2024-01-05
US,Retail,174000,510,2024-01-05
APAC,Online,98000,360,2024-01-12
</table>


</tables>

The following functions have already been provided. Please use them as needed and do not redefine them.
<function>
def execute_sql_query(sql_query: str) -> pd.DataFrame
    """This method connects to the database, executes the sql query and returns the dataframe"""
</function>



Update this initial code:
```python
# TODO: import the required dependencies
import pandas as pd

# Write code here

# Declare result var:
type (possible values "string", "number", "dataframe", "plot"). Examples: { "type": "string", "value": f"The highest salary is {highest_salary}." } or { "type": "number", "value": 125 } or { "type": "dataframe", "value": pd.DataFrame({...}) } or { "type": "plot", "value": "temp_chart.png" }

```



### QUERY
 What is the total revenue?

At the end, declare "result" variable as a dictionary of type and value in the following format:

type (possible values "string", "number", "dataframe", "plot"). Examples: { "type": "string", "value": f"The highest salary is {highest_salary}." } or { "type": "number", "value": 125 } or { "type": "dataframe", "value": pd.DataFrame({...}) } or { "type": "plot", "value": "temp_chart.png" }



Generate python code and return full updated code:

### Note: Use only relevant table for query and do aggregation, sorting, joins and grouby through sql query
2025-11-23 20:18:27 [INFO] Code Generated:
# TODO: import the required dependencies
import pandas as pd

# Write code here
sql_query = """
SELECT SUM(revenue) AS total_revenue
FROM table_89a420ed697eb44b9ddef41d85f66bac
"""

# Execute the SQL query using the provided function
df_result = execute_sql_query(sql_query)

# Safely extract the aggregated value
if not df_result.empty and 'total_revenue' in df_result.columns:
    total_revenue = df_result['total_revenue'].iloc[0]
    # Convert to native Python int if possible, handle nulls
    total_revenue = int(total_revenue) if pd.notnull(total_revenue) else 0
else:
    total_revenue = 0

# Declare result var:
result = { "type": "number", "value": total_revenue }
2025-11-23 20:18:27 [INFO] Validating code requirements...
2025-11-23 20:18:27 [INFO] Code validation successful.
2025-11-23 20:18:27 [INFO] Cleaning the generated code...
2025-11-23 20:18:27 [INFO] Executing code: import pandas as pd
sql_query = """
SELECT SUM(revenue) AS total_revenue
FROM table_89a420ed697eb44b9ddef41d85f66bac
"""
df_result = execute_sql_query(sql_query)
if not df_result.empty and 'total_revenue' in df_result.columns:
    total_revenue = df_result['total_revenue'].iloc[0]
    total_revenue = int(total_revenue) if pd.notnull(total_revenue) else 0
else:
    total_revenue = 0
result = {'type': 'number', 'value': total_revenue}
2025-11-23 20:18:28 [INFO] Response generated successfully.

**************************************************

AttributeError: 'NumberResponse' object has no attribute 'last_generated_code'

In [13]:
print('**************************************************')
print(response.last_code_executed)

**************************************************
import pandas as pd
sql_query = """
SELECT SUM(revenue) AS total_revenue
FROM table_89a420ed697eb44b9ddef41d85f66bac
"""
df_result = execute_sql_query(sql_query)
if not df_result.empty and 'total_revenue' in df_result.columns:
    total_revenue = df_result['total_revenue'].iloc[0]
    total_revenue = int(total_revenue) if pd.notnull(total_revenue) else 0
else:
    total_revenue = 0
result = {'type': 'number', 'value': total_revenue}

In [12]:
print('**************************************************')
print(response.last_prompt_used)

**************************************************

AttributeError: 'NumberResponse' object has no attribute 'last_prompt_used'